<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Modificar insumo</h1>
            <h3 aligne="right"><a href="/funciones/listaInsumo">volver</a></h3>
        </div>
    </div>
    <div>
        <div>
            <form action="/api/insumos/put/<%=insumo._id%>" name="formularia" method="post">
                <div class="form-group ml-2">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" value="<%=insumo.nombre%>" class="form-control w-50" required>
                </div>
                <div class="form-group ml-2">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" name="cantidad" id="cantidad" value="<%=insumo.cantidad%>" class="form-control w-50" required>
                </div>
                <div class="form-group ml-2">
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio" value="<%=insumo.precio%>" class="form-control w-50" required >
                </div>
                <button class="btn btn-primary ml-2">enviar</button>
            </form>
        </div>
    </div>
</body>
</html>