<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div>
        <h1>Visualizar usuarios</h1>
        <h3 aligne="right"><a href="/funciones/menuColeccion">volver</a></h3>
    </div>
    <Div>
        <form action="">

        </form>
    </Div>
    <div class="listado">
        <div id="tablacon">
            <center>
                <table class="table-responsive table-striped">
                    <thead>
                        <tr>
                            <td>nombre de usuario</td>
                            <td> eliminar</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (i=0;i < user.length;i++) {%>
                            <tr>
                                <td><%= user[i].username %></td>
                                <td><%= user[i].tipo %></td>
                                <td><a href="/api/user/delete/<%=user[i]._id%>" >eliminar</a></td>

                            </tr>
                        <%} %>
                        
                    </tbody>
                </table>
            </center>
        </div>
    </div>
</body>
</html>